.navbar.navbar-default
  .navbar-inner
    .navbar-header
      %h1 Storyline
    %ul.nav.navbar-nav.text-center
      %li
      %li= link_to 'New Story'
      %li= link_to 'Contribute to Story'
      %li= link_to 'Read Finished Stories'
      %li= link_to 'How it Works'