.container
  .row
    .col-md-8.col-md-offset-2
      %p 
        %em Remember that game we played as kids where everybody would start a story on a piece of paper, then pass around the papers and continue each others' stories? (No? Just me?) Well anyway, this is that game. Enjoy :)

  .row
    = render 'shared/header', header_title: 'How It Works'
  .row
    .col-md-3.col-md-offset-2
      %h4 Someone starts a story, giving it a title and a few lines. Just enough to get the ball rolling...
    .col-md-4
      .well
        %h3 The Curious Cat
        %p One day, Chester the Cat was playing around in the bushes when all of the sudden he saw a giant mouse!
 
  %br
  %br

  .row
    .col-md-4
      .well
        %h3 The Curious Cat
        %p Since he had never seen a mouse, the cat tried to touch it with his paw.
        %p
          %strong What comes next?
          .well{style: 'background-color: white'} 
            %p Unfortunately, mice don't like being touched, let's just say that kitty only has 3 paws now.
    .col-md-3
      %h4 Then other people continue the story by adding one new line at a time. The catch is they only get to see the title and the previous line that was written. Let chaos ensue!
  
  %br
  %br

  .row
    .col-md-2.col-md-offset-3
      %h4 After 6 lines have been written, the story is "finished" and everyone gets to read it. 
    .col-md-5 
      .well
        %h3 The Curious Cat
        %p One day, Chester the Cat was playing around in the bushes when all of the sudden he saw a giant mouse! He never saw a mouse before, but was quite curious about it. Since he had never seen a mouse, the cat tried to touch it with his paw. Unfortunately, mice don't like being touched, let's just say that kitty only has 3 paws now. With his new disability, Chester realized that he would have to change many aspects about his life. Chester rapidly became depressed, knowing that all of these life changes would be very difficult, so he began eating too much and died of complications from morbid obesity.


